.btn-dashboard {
  margin: 0.5rem
}

label {
  margin: 0 1rem;
}

/* form {
  flex-direction: column;
  align-items: center;
  width: 100%;
} */

.input-text-long {
  max-width: 35rem;
  margin: 0.1rem auto;
}

.input-text, .textarea-form {
  max-width: 20rem;
  margin: 0.1rem auto;
}

.input-file {
  margin: 0.5rem;
}

.text-line-through {
  text-decoration: line-through;
}

.picture-selection {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.image-selected {
  width: 70%;
}

.item-picture {
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-image {
  max-width: 100%;
  max-height: 20rem;
}

.list-item {
  text-align: center;
}