.btn-container {
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.btn-dropdown {
  max-height: 2.5rem;
}

.btn-group-navbar, .btn-navbar, .btn-close {
  margin: 0.2rem;
  width: 8rem;
}

.btn-dropdown-menu {
  text-align: center !important;
}

.btn-dropdown-item {
  width: 90%;
  margin: 0.2rem 0;
}

.dropdown-menu {
  position: absolute !important;
}