.navbar-elements {
  display: contents;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 600;
  color: #98d7e4 !important;
}

.navbar-nav {
  text-align: center;
}

.navbar-collapse {
  justify-content: flex-end;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-container {
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.btn-dropdown {
  max-height: 2.5rem;
}

.btn-group-navbar, .btn-navbar, .btn-close {
  margin: 0.2rem;
  min-width: 5rem;
  max-height: 2.5rem;
}

.btn-dropdown-menu {
  text-align: center !important;
}

.btn-dropdown-item {
  width: 90%;
  margin: 0.2rem 0;
}

.dropdown-menu {
  position: absolute !important;
}